/* Navbar */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo img {
  height: 40px;
  width: 40px;
}

.nav-list {
  display: flex;
  gap: 60px;
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
}

.nav-list li a:hover {
  color: #ff5400;
}

.hamburger {
  display: none;
}

/* Banner */

.banner {
  height: 600px;
  width: 1200px;
  background-image: url(../styles/Images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 160px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-title {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}

.banner-desc {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
}

.choose-your-tour {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  height: 60px;
  width: 900px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  height: 40px;
  width: 200px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  border: transparent;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-find {
  background-color: #ff5400;
  color: white;
}

/* Popular Tour  */

.popular-tour {
  margin: 135px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.popular-tour-head {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}

.tour-desc {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  line-height: 26px;
}

/* Choose your destination */

.destination h1 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.destination p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  line-height: 26px;
}

.places {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

/* Why Choose Us  */

.choose-us {
    margin-top: 100px;
}

.choose-us h1 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.choose-us p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  line-height: 26px;
}

.choose-us-why {
  width: 573px;
  height: 150px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  padding: 30px;
}

.choose-us-why h2 {
  font-size: 20px;
}

.choose-us-why p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

#hotels {
  background: rgba(251, 181, 99, 0.05);
}

#service {
  background: rgba(41, 206, 246, 0.05);
}

#price {
  background: rgba(233, 68, 68, 0.05);
}

.p-1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-left: 20px;
}

.p-2 {
  display: flex;
  justify-content: center;
}

/* Subscribe  */

.subscribe {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.newsletter {
  width: 400px;
  height: 422px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter h1 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}

.newsletter p {
  color: #5a5a5d;
  font-size: 16px;
  line-height: 26px;
}

.newsletter input {
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  margin-bottom: 10px;
  border: transparent;
  padding-left: 20px;
}

.newsletter button {
  height: 52px;
  width: 393px;
}

.footer {
  margin-top: 100px;
  margin-left: 120px;
  width: 1250px;
  height: 502px;
  background: rgba(19, 19, 24, 0.05);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.footer-des {
  width: 550px;
  color: #5a5a5d;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
}

.social {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.line {
  width: 872px;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
}

/* The Following CSS styles are for Mobile devices  */

@media screen and (max-width: 600px) {
  /* nav bar */

  .logo {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .logo h1 {
    font-size: 20px;
  }

  .logo img {
    height: 20px;
    width: 20px;
  }

  .nav-list {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  /* Banner  */

  .banner {
    height: 500px;
    width: 250px;
    margin-left: 25px;
  }

  .banner-title {
    font-size: 22px;
    font-weight: 800;
  }

  .banner-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }

  .choose-your-tour {
    background: rgba(255, 255, 255, 0.3);
    height: 240px;
    width: 220px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Popular Tour  */

  .popular-tour {
    margin: 10px;
    flex-direction: column;
  }

  .popular-tour-head {
    color: #131318;
    font-size: 20px;
    font-weight: 800;
  }

  .tour-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .pt-img img {
    height: 400px;
    width: 280px;
  }

  /* Choose your destination */

.destination h1 {
    font-size: 20px;
  }
  
  .destination p {
    font-size: 14px;
    line-height: 24px;
  }
  
  .places {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      margin-bottom: 20px;
  }

  /* Why Choose Us  */

  .choose-us h1 {
    font-size: 20px;
  }

  .choose-us p {
    font-size: 14px;
    line-height: 22px;
  }

  .choose-us-why h2 {
    color: #131318;
    font-size: 20px;
    font-weight: 800;
  }

  .choose-us-why p {
    font-size: 14px;
    line-height: 22px;
    text-align: left;
  }

  .choose-us-why img {
    width: 48px;
    height: 48px;
  }

  .choose-us-why {
    width: 245px;
    height: 240px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.2);
    padding: 5px;
  }

  .p-1 {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
  }

  .p-2 {
    justify-content: center;
  }

  /* Subscribe  */

  .subscribe {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .newsletter {
    height: 300px;
    width: 250px;
  }

  .newsletter h1 {
    font-size: 20px;
  }

  .newsletter p {
    font-size: 14px;
    line-height: 24px;
  }

  .newsletter input {
    width: 230px;
    height: 52px;
  }

  .newsletter button {
    width: 250px;
    height: 52px;
  }

  /* Footer  */

  .footer {
    margin-left: 20px;
    width: 270px;
    height: 602px;
  }

  .footer-des {
    width: 250px;
    font-weight: 400;
    line-height: 24px;
  }

  .social {
    display: flex;
    gap: 25px;
    justify-content: center;
  }

  .line {
    width: 250px;
    height: 1px;
    background: rgba(19, 19, 24, 0.1);
  }
}
